*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    text-decoration: none;
} html {
    scroll-behavior: smooth;
} .navbar {
    font-family: 'Ubuntu',sans-serif;
    padding: 10px;
} .home {
    background: url(../img/bg.jpg) no-repeat center;
    background-size: cover;
    height: 87vh;
    color: #fff;
    min-height: 450px;
    font-family: 'Ubuntu',sans-serif;
    position: center;
} .input-form {
    padding-left: 150px;
    padding-right: 150px;
    position: center;
} .form-text {
    padding-top: 275px;
    padding-bottom: 25px;
    font-size: 90px;
    display: block;
    text-align: center;
} .container {
    padding: 0px;
}

/* Responsive Media Query */
@media (max-width: 1200px){
    .input-form {
        padding-left: 100px;
        padding-right: 100px;
    }
}@media (max-width: 900px){
    .input-form {
        padding-left: 70px;
        padding-right: 70px;
    }
}@media (max-width: 500px){
    .input-form {
        padding-left: 45px;
        padding-right: 45px;
    }
}
@media (max-width: 390px){
    .input-form {
        padding-left: 35px;
        padding-right: 35px;
    }
}
